@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  .backgroundDesktop2 {
    background-size: cover;
    display: block;
    background-image: url("/main.jpg");
    margin: 0;
    padding: 0;
    width: 100vw; /* 뷰포트 전체 너비 */
    height: 100vh; /* 뷰포트 전체 높이 */
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw; /* 뷰포트 전체 너비 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f9;
}

.backgroundDesktop2,
.backgroundMobile {
  position: absolute;
  width: 100vw; /* 뷰포트 전체 너비 */
  height: 100vh; /* 뷰포트 전체 높이 */
  top: 0;
  left: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.linkContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.linkButton {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.linkButton:hover {
  background-color: #0056b3;
}

/* 모바일 환경 */
@media (max-width: 1023px) {
  .backgroundMobile {
    display: block;
    background-image: url("/letzcell.jpg");
  }

  .backgroundDesktop2 {
    display: none;
  }
}
