@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  .backgroundDesktop2 {
    background-size: cover;
    display: block;
    background-image: url("/main.jpg");
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  @apply relative flex flex-col justify-center items-center h-screen w-screen bg-gray-100;
}

.title {
  @apply text-2xl font-bold text-gray-800 mb-4; /* Tailwind 스타일 추가 */
}

.backgroundDesktop2,
.backgroundMobile {
  @apply absolute w-full h-full top-0 left-0 z-0 bg-cover bg-center bg-no-repeat;
}

.linkContainer {
  @apply relative z-10;
}

.linkButton {
  @apply inline-block px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-700 transition-colors duration-300;
}

/* 모바일 환경 */
@media (max-width: 1023px) {
  .backgroundMobile {
    @apply block;
    background-image: url("/letzcell.jpg");
  }

  .backgroundDesktop2 {
    @apply hidden;
  }
}
